*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

}
body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family:serif;
	background: #7d2ae8;
	padding: 30px;
	
}
h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.fixed{
	top:0;
	position: fixed;
	width: 100%;
	height: 11%;
	color:#fff;
	background-color: rgba(10, 6, 0, 0.5);

}
.social-menu ul{
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	color: #fff;
}
.social-menu ul li{
	list-style: none;
	margin: 10px 45px;
	padding: 5px;
	
}
.social-menu ul li .fa{
	font-size: 18px;
	line-height: 30px;
	transition: 0.6s;
	color: #000;

}
.social-menu ul li .fa:hover{
	color: #fff;
}
.social-menu ul li a{
	position: absolute;
	display: block;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	transition: 0.6s;
	box-shadow: 0 5px 4px rgba(0, 0, 0, .7);
	justify-content:center;
	border-radius: 50%;
	background-color: #fff;
}
.social-menu ul li a:hover{
	transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
	background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
	background-color: #1D9BF0;
}
.social-menu ul li:nth-child(3) a:hover{
	background-color: #0e76a8;
}
.social-menu ul li:nth-child(4) a:hover{
	background-color: #3f729b;
}
.container{
	margin-top: 70px;
	position: relative;
	max-width: 850px;
	width: 100%;
	background: #fff;
	padding: 40px 30px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	perspective: 2700px;
}
.cover{
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 50%;
	z-index: 98;
	transition: all 1s ease;
}
.cover:before{
	content:'' ;
	position: absolute;
	height: 100%;
	width: 100%;
	background:#7d2ae8 ;
	opacity: 0.5;
	z-index: 100;
}
.container #flip:checked ~ .cover{
	transform-origin: left;
	transform: rotateY(-180deg);
	transform-style: preserve-3d;
}
.container .cover img{
	position: absolute;
	object-fit: cover;
	height: 100%;
	width: 100%;
	z-index: 12;
}
.text{
	position: absolute;
	z-index: 111;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.text .text-1,
.text .text-2{
	font-size: 26px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	backface-visibility: hidden;
	
}
.text .text-2{
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}
.container form{
	width: 100%;
	height: 100%;
	background: #fff;
}
.container .form-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.form-container .loginform,
.form-container .Signupform{
	width: calc(100% / 2 - 25px);
/*	background: red;*/
}
.title{
	position: relative;
	font-size: 24px;
	font-weight: 500;
	color: #333;
}
.title:before{
	content:'' ;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 20px;
	background:#7d2ae8 ;
}
.inputboxes{
   margin-top: 30px;

}
.input{
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	margin: 0 10px;
	position: relative;
}
.input input{
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 500;
	transition: all 0.3s ease;
	border-bottom:2px solid rgba(0, 0, 0, 0.2);
}
.input input:focus,
.input input:valid{
	border-color:#7d2ae8;
}
.input i{
	position: absolute;
	color: #7d2ae8 ;
	font-size: 17px;
}
.forget{
	font-size: 16px;
	font-weight: 500;
	margin: 10px;
	color: darkblue;
	cursor: pointer;
}
.button{
	color: #fff;
	margin-top: 40px;
}
.button input{
	text-transform: uppercase;
	color: #fff;
	background-color: #7d2ae8;
	padding: 0;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.button input:hover{
	background-color: #5b13b9;
}
.signuplink{
	text-align: center;
	margin-top: 25px;
}
.signuplink label{
	color: #5b13b9;
	cursor: pointer;
}
.signuplink label:hover{
	text-decoration: underline;
}














